<html>
<head>
<title>Просмотр</title>
</head>
<body>
{% load extras %}
<center>
{% if not no_items %}
<table BORDER="1" CELLSPACING="1" CELLPADDING="5" width="550" height = "550"><tr><td>
<IMG SRC="{{ viewimg.url }}" width="550">
</tr></td></table>
<table BORDER="1" CELLSPACING="1" CELLPADDING="5">
<tr>
{% for iimg in imglist %}
<td>
	<a href="/preview/{{ itm_id}}/{{ forloop.counter0 }}/">
		<IMG SRC="{{ iimg.thumb.url }}">
	</a>
</td>
  {% if not forloop.counter|mod:5 %}
    </tr><tr>
  {% endif %}
{% endfor %}
</tr>
</table>
{% else %}
	<h1>I'm sorry!</h1>
    No images found
{% endif %}
<hr>
<a href="/">Вернуться в Катáлог</a>
</center>
</body>
</html>
